<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let item of listMarvel">
      <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="" />
      <ion-card-header>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card>
</ion-content>
